<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Permissions</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Google Drive File Permissions</h1>
        <button class="fetch-button" onclick="fetchPermissions()">Update Permissions</button>
        
        <table>
            <tr>
                <th>File Name</th>
                <th>Email Address</th>
                <th>Role</th>
                <th>Type</th>
            </tr>
            {% for file_name, email, role, perm_type in permissions %}
            <tr>
                <td>{{ file_name }}</td>
                <td>{{ email }}</td>
                <td>{{ role }}</td>
                <td>{{ perm_type }}</td>
            </tr>
            {% endfor %}
        </table>

        <a href="/" class="home-link">Go Back to Home</a>
    </div>

    <script>
        function fetchPermissions() {
            fetch("/fetch-permissions")
                .then(response => response.json())
                .then(data => alert(data.message))
                .catch(error => console.error("Error:", error));
        }
    </script>
</body>
</html>
