<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renamed Files</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Renamed Files</h2>
        {% if renamed_files %}
            <table>
                <tr>
                    <th>Old File Name</th>
                    <th>New File Name</th>
                </tr>
                {% for file in renamed_files %}
                    <tr>
                        <td>{{ file.old_name }}</td>
                        <td>{{ file.new_name }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No files were renamed.</p>
        {% endif %}
        <a href="/" class="home-link">Go Back to Home</a>
    </div>
</body>
</html>
